<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>sign-up Page</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  <body>
	  <div>
		  {% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
		  {% for category, message in messages %}
		  {{ message }}

		  {% endfor %}
		  {% endif %}
		  {% endwith %}
	  </div>
    <section class="form-section">
      <h1>Online Examination Website</h1>
      <form class="form signup-mode" method="POST" action="">
        {{ form.hidden_tag() }}
	<!--
        <input type="text" placeholder="First name" class="input"><br>
        <input type="text" placeholder="Last name" class="input"><br>
        <input type="text" placeholder="Email" class="input"><br>
        <input type="password" placeholder="Password" class="input"><br>
        <input type="password" placeholder="Confirm Password" class="input"><br>
	-->
	{% if form.firstName.errors %}
    {{ form.firstName(placeholder="First name", class="input error") }}<br>
      <div class="error-message">
        {% for error in form.firstName.errors %}
          <span> {{ error }}
        {% endfor %}
      </div>
  {% else %}
    {{ form.firstName(placeholder="First name", class="input") }}<br>
  {% endif %}
	{% if form.lastName.errors %}
    {{ form.lastName(placeholder="Last name", class="input error") }}<br>
      <div class="error-message">
        {% for error in form.lastName.errors %}
          <span> {{ error }}
        {% endfor %}
      </div>
  {% else %}
    {{ form.lastName(placeholder="Last name", class="input") }}<br>
  {% endif %}
	{% if form.email.errors %}
    {{ form.email(placeholder="Email", class="input error") }}<br>
      <div class="error-message">
        {% for error in form.email.errors %}
          <span> {{ error }}
        {% endfor %}
      </div>
  {% else %}
    {{ form.email(placeholder="Email", class="input") }}<br>
  {% endif %}
  {% if form.password.errors %}
    {{ form.password(placeholder="Password", class="input error") }}<br>
      <div class="error-message">
        {% for error in form.password.errors %}
          <span> {{ error }}
        {% endfor %}
      </div>
  {% else %}
    {{ form.password(placeholder="password", class="input") }}<br>
  {% endif %}
	{% if form.confirmPassword.errors %}
    {{ form.confirmPassword(placeholder="Confirm Password", class="input error") }}<br>
      <div class="error-message">
        {% for error in form.confirmPassword.errors %}
          <span> {{ error }}
        {% endfor %}
      </div>
  {% else %}
    {{ form.confirmPassword(placeholder="Confirm Password", class="input") }}<br>
  {% endif %}
        <div class="button-container">
		<!--<input type="submit" value="Signup" class="button login">-->
		{{ form.submit(class="button login") }}
	  <a href="/login"  class="button login-back">Back to Login</a>
        </div>
      </form>
    </section>
    
  </body>
</html>
