<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Home Page</title>
     <link rel="stylesheet" href="../static/styles/home.css">
  </head>
  <body>
      <ul id="navigation">
	      <li><a href={{ url_for('home') }} class="active">Home</a></li>
	      {% if not current_user.is_authenticated %}
        <li><a href={{ url_for('login') }}>Log in</a></li>
        <li><a href={{ url_for('signup') }}>Sign up</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
	      <li><a href={{ url_for('account') }}>Account</a><li>
          {% endif %}
	      <li><a href={{ url_for('about') }}>About</a></li>
	      {% if current_user.is_authenticated %}
        <li class="logout"><a href={{ url_for('logout') }}>Log out</a></li>
        {% endif %}
      </ul>
  </body>
</html>
