<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section class="form-section">
      <h1>Online Examination Website</h1>
      <form class="form">
        <input type="text" placeholder="Email" class="input"><br>
        <input type="password" placeholder="Password" class="input"><br>
        <p><a href="tobeassigned">Forgot your password?</a></p>
        <div class="button-container">
          <input type="submit" value="Login" class="button login">
          <input type="submit" value="Signup" class="button signup">
        </div>
      </form>
    </section>
    <script src="login1.js"></script>
  </body>
</html>
